details {padding: 0px 0px 20px 48px !important;}
details > summary {font-weight: bold!important;}
.highlight{margin-bottom: 0px;}
pre > code {white-space: pre-wrap !important;}
.continue_list {margin-top: 20px;}
ul > li > p {margin-top: 0px; margin-bottom: 0px;}
